.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  View {
    width: 90%;
    // background-color: #ff0;
    margin: 16px;
    font-size: 36px;
    text {
      color: #ff0000;
    }
  }
}
.count {
  display: flex;
  justify-content: center;
  text { margin: 0 5px;}
}
.popup-count {
  width: 100%;
  font-weight:bold;
  text-align:center;
  color:#1890ff;
  position:absolute;
  bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  left:0;
}
page {
  .tips {
    color: #1890ff;
    font-size: 24px;
  }
  .today {
    align-items: center;
    color: #fff;
    background-color: #346fc2;
    border-radius: 64px;
  }
  .notCurMonth {
    color: #ccc;
  }
}
